
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello, from Index View
    </div>
    <div>
        @DateTime.Now
    </div>
    @{ 
        var a=12;
        var b = 13;
        var c = a + b;
        var currentTime = DateTime.Now;
        var tomorrowTime = DateTime.Now.AddDays(1);

    }
    <div>@c</div>
    <div>currentTime-@currentTime</div>
    <div>tomorrowTime-@tomorrowTime</div>
    <div>kingDestroyer@gmail.com</div>
    <div>TwitterName-@@kingDestroyer</div>
</body>
</html>
