

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @CustomHelper.H1Tag("Naruto and Sasuke Picture")
        @Html.Archor("https://www.google.com")
    </div>
</body>
</html>
