
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        @Html.ActionLink("Click", "Index")
        <h1>Hello, I am About Action Method From HomeController</h1>
    </div>
</body>
</html>
