
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/AboutUs">Home - AboutUs </a><br/>
    <a href="/Trial/Index">Trial - Index</a>   <br/>
    <a href="/Trial/AboutUs">Trial - AboutUs</a><br/>
   <h1>Hello I am Home Controller and Index Action Method</h1>

</body>
</html>
