@model PartialView.Models.Employee
<div class="row">
    <div class="col-lg-6">
        <h2>Name - @Model.Name</h2>
        <p>Id - @Model.Id </p>
        <p>Email - @Model.Email</p>
    </div>
    <div>
        <p>Description - Best Website</p>
    </div>
</div>