
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        <h1>Hello I am from Home Controller Index2 Action Method</h1>
        <div>Value - @ViewBag.myValue</div>
    </div>
</body>
</html>
