
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div> 
        <h1>Hello I am from Home Controller Index3 Action Method </h1>
        <div>@ViewBag.myValue</div>
    </div>
</body>
</html>
